<!DOCTYPE html>
<html lang="en">
<head>
  <title>Static Website</title>
<meta charset="utf-8">
<meta name="active-menu" content="<%= menuId %>">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!-- <link rel="stylesheet" href="./stylesheets/style.css"> -->
</head>
<body>
<div class="container py-5">    
  <div class="row">
<div class="col-md-6 offset-md-3">

  <img src="https://b2790432.smushcdn.com/2790432/wp-content/uploads/2022/07/Nishkam-logo-with-name.png?lossy=1&strip=1&webp=1" class="w-50 d-block m-auto">
</div>
    </div>



  <div class="row py-5">

    <div class="col-md-6 offset-md-3">
      <h2 style="font-size:40px" class="text-center"> Nishkam Scholarship Automation Project</h2>
    </div>
</div>
<script>
  function change(value)
  {
    if(value == 'Canada')
    {
      document.getElementById('Province-div').style.display = 'block';
      document.getElementById('city-div').style.display = 'block';
    }else{
      document.getElementById('Province-div').style.display = 'none';
      document.getElementById('city-div').style.display = 'none';
    }
  }
</script>
</body>

</html>